.VideoDetail__noVideo {
  content: url(pumpkin.png);
    width: 80%;

  padding-left: 10%;
  background-color: black;
}
@media (min-width: 1100px) {
  .VideoDetail__noVideo {
    padding-left: 0;
    width: 100%;
    content: url(castle.png);

  }
  
}
